{% extends 'base.html' %}

{% block body %}
   <div class="container">
        <h1>Criar Post</h1>
            <hr>
            <div class="row">
                <div class="col-8">
                    <form method="POST" action="" class="border p-4 mt-2">
                        {{ form.csrf_token }}
                        <legend>Escreva sua mensagem desejada</legend>
                        <fieldset>
                            <div class="form_group">
                                {{ form.titulo.label(class="form-control-label") }}
                                {% if form.titulo.errors %}
                                    {{ form.titulo(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.titulo.errors %}
                                       {{ erro }}
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.titulo(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form_group">
                                {{ form.corpo.label(class="form-control-label") }}
                                {% if form.corpo.errors %}
                                    {{ form.corpo(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.corpo.errors %}
                                       {{ erro }}
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.corpo(class="form-control") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        {{ form.botao_submit(class="btn btn-dark mt-4 col-4") }}
                    </form>
                </div>
            </div>
   </div>
{% endblock %}